<article>
    <h1 class="heading main-heading">Quality of Life Measure</h1>
    <h2 class="sub-heading">Tick the box most appropriate</h2>

    <app-info-bar (click)="infoDialog()"></app-info-bar>

    <form [formGroup]="form" class="form" (ngSubmit)="submit()">
        <h2 class="category-name">{{this.survey[this.currentCategory].categoryName}}</h2>
        <formly-form [model]="model" [fields]="fields" [options]="options" [form]="form"></formly-form>

        <div class="error-message">
            <p class="alert" *ngIf="!isValid">Please tick the box more appropriate before moving to the next section</p>
        </div>

        <button type="submit" class="btn submit-button"
            *ngIf="this.currentCategory < this.survey.length - 1">Next</button>

        <button type="button" class="btn submit-button" *ngIf="this.currentCategory === this.survey.length - 1"
            (click)="submit()">Submit</button>

        <router-outlet></router-outlet>
    </form>
</article>