@import "~nouislider/distribute/nouislider.min.css";
.vas-slider-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

.vas-slider {
    text-align: center;
    margin: 10% auto;
    width: 80%;
}