<article>
    <h1 class="main-heading">Likert Scale</h1>
    <h2 class="sub-heading">Tick the box beside the face that
        is closest to how you are feeling today</h2>

    <app-info-bar></app-info-bar>
    
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">

        
        <fieldset id="likert-scale">
    
            <div class="user-feeling">
                <figure>
                    <div class="emotion">
                        <img src="assets/svg/very_poor_face.svg" alt="Very poor face" />
                        <figcaption>(Very Poor)</figcaption>
                    </div>
                </figure>
                <input type="radio" name="feeling" value="Very poor" formControlName="feeling"/>
            </div>
    
            <div class="user-feeling">
                <figure>
                    <div class="emotion">
                        <img src="assets/svg/poor_face.svg" alt="Poor face" />
                        <figcaption>(Poor)</figcaption>
                    </div>
                </figure>
                <input type="radio" name="feeling" value="Poor" formControlName="feeling"/>
            </div>
    
            <div class="user-feeling">
                <figure>
                    <div class="emotion">
                        <img src="assets/svg/average_face.svg" alt="Average face" />
                        <figcaption>(Average)</figcaption>
                    </div>
                </figure>
                <input type="radio" name="feeling" value="Average" formControlName="feeling"/>
            </div>
    
    
            <div class="user-feeling">
                <figure>
                    <div class="emotion">
                        <img src="assets/svg/good_face.svg" alt="Good face"/>
                        <figcaption>(Good)</figcaption>
                    </div>
                </figure>
                <input type="radio" name="feeling" value="Good" formControlName="feeling" />
            </div>
    
            <div class="user-feeling">
                <figure>
                    <div class="emotion">
                        <img src="assets/svg/excellent_face.svg" alt="Excellent face"/>
                        <figcaption>(Excellent)</figcaption>
                    </div>
                </figure>  
                <input type="radio" name="feeling" value="Excellent" formControlName="feeling" />
            </div>
        </fieldset>
    
    
        <button type="submit" class="btn submit-button">Submit</button>
    
        <pre>{{form.value | json}}</pre>  
    
    </form>
</article>
