

article {
    text-align: center;
}

.main-heading {
    margin: 30px auto 10px auto;
}

.sub-heading {
    margin-bottom: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;

    max-width: 1400px;
}

.user-feeling {
    display: flex;
    align-items: center;

    margin: 1em auto;
}

.user-feeling figure {
    flex: 1 0 90%;
    display: flex;
    align-items: center;
}

.user-feeling figure figcaption {
    font-weight: bold;
}

.emotion {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.emotion img {
    width: 70px;
    height: 70px;
}

#likert-scale {
    border: none;
}

@media (min-width: 650px) {
    .form {
        padding: 80px;
    }
}


@media screen and (min-width: 800px) {
    .user-feeling{
        display: inline-block;
        padding: 30px;
    }

    .user-feeling figure {
        padding: 20px;
    }

}