<div class="container">
    <h2>Indwelling Pleural Catheter</h2>
    <h3>Information for patients and families</h3>

    <div class="section">
        <h4 class="n">Key points</h4>
        <li>An indwelling pleural catheter drains fluid from the space around your lungs</li>
        <li>The catheter can stay in place as long as needed and managed at home</li>
    </div>
    <div class="section">
        <h4 class="n">What is an indwelling pleural catheter?</h4>
        <p>A small tube which drains fluid from the area around your lungs. The tube stays in place for as long as
            needed,so that the fluid can be drained easily and avoids further procedures, for example the repeated use
            of
            needles to drain the fluid.</p>
    </div>
    <div class="section">
        <h4 class="n">Why do I need this and what are the benefits?</h4>
        <p>The pleural space is the space between the lung and the inner lining of the chest, and these layers lie very
            close together, but fluid can collect in the space. This can affect your lungs and cause shortness of
            breath.</p>
        <p>Draining the fluid can help relieve shortness of breath, however the fluid can return.
            The tube allows fluid to be drained painlessly, as often as necessary and without having to come to
            hospital.</p>
    </div>
    <div class="section">
        <h4 class="n">How is the IPC put in place?</h4>
        <p>You will need to come into hospital for the procedure. You will be given local anaesthetic to make
            the procedure more comfortable and antibiotics may be given to reduce the risk of infection.</p>
        <p>You will be asked to lie in a comfortable position. Sedative medication may be given through a
            small needle in your skin to make you feel relaxed and drowsy. An ultrasound scanner is used to help guide
            the procedure.</p>
        <p>Your skin will be cleaned with a cold antiseptic solution to kill any bacteria. A local anaesthetic is then
            injected into the skin to numb the area where the catheter will be placed. This can feel like a sting, but
            the discomfort passes quickly. The doctor will make two small cuts in the numb area of skin and open a path
            for the tube. This should not be painful although you may feel some pressure or tugging. One cut is for the
            tube to pass through the skin and the second is for it to be passed into the chest. The tube is then eased
            into the chest cavity. At the end of the procedure your chest may feel sore for 2-3 days. Pain killers will
            help with this.</p>
        <p>You may be able to leave hospital on the same day as the procedure. Sometimes you may need to stay in
            overnight. Your doctor will discuss this with you.</p>
    </div>
    <div class="section">
        <h4 class="n">How is the fluid drained?</h4>
        <p>The tube is soft, flexible and about the width of a pencil. One end stays inside the chest and the other
            passes out through the skin on the side of your lower chest. There is a one-way valve on the end which
            stops fluid leakage and prevents air going into the tube. Hospital in the Home can be organised to come
            to your home to drain the fluid. Drainage can be a part of your clinic visit and the staff can teach you
            or your carer to do home drainage.</p>
    </div>
    <div class="section">
        <h4 class="n">How does the drain stay in place?</h4>
        <p>There is a soft cuff around the tube which is positioned under the skin. As the skin heals the drain becomes
            more secure. Two stitches will be put in place when your tube is inserted. These will be removed after 7 to
            10 days at which time the tube will stay in place on its own.</p>
    </div>
    <div class="section">
        <h4 class="n">Are there any risks with IPC insertion?</h4>
        <p>In most cases the insertion of a chest drain and its use is routine and safe. There are small risks, like all
            medical procedures. All of these can be treated by your doctors and nurses:</p>
        <li>Sometimes the tube can become infected but this is uncommon. The main risk is infection entering the chest
            down the tube. The risk is reduced by careful cleaning of the tube and area. You will be shown how to do
            this. Check the site daily for signs of infection such as redness, swelling, oozing and whether you have
            pain or a fever. If you think there is tell your respiratory doctor/nurse as soon as possible, as you may
            need a course of antibiotics</li>
        <li>Every time a drainage procedure is performed there is a possibility that it may cause bleeding. However,
            having a tube inserted reduces the number of drainages needed and reduces your overall risks. Sometimes
            cancer tissue can affect the area around the tube. Please let your doctor know if you develop a lump, or any
            pain, around your tube in the weeks after it is inserted. If this happens the cancer tissue can easily
            be treated with radiotherapy.</li>
    </div>
    <div class="section">
        <h4 class="n">Can I wash and shower normally?</h4>
        <p>After insertion of the tube a dressing is placed over the catheter. Although the dressing is waterproof,
            we recommend you sponge bath in the first 7 days after the procedure. After 7 days, your stitches will
            be removed, and your doctor/nurse will advise if you can shower as normal.</p>
    </div>
    <div class="section">
        <h4 class="n">When is the tube taken out?</h4>
        <p>The tube is designed to stay in position in the body. However, sometimes the fluid drainage from the chest
            dries up and the tube is no longer needed, it can be removed. You will be asked to come into hospital
            and the tube will be removed as a day procedure.</p>
    </div>
    <div class="section">
        <h4 class="n">Are there any risks with IPC insertion?</h4>
        <li>Pleural Clinical Nurse Consultant 0428 167 972</li>
        <li>Respiratory Registrar 8405 8000</li>
    </div>
    <div class="space">

    </div>

</div>