.container {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.container h2 {
    margin-top: 10px;
    font-size: 25px;
    color: #005CB9;
}

.container h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #005CB9;
}

.section{
    font-weight: bold;
    margin: 10px;
    text-align: left;
}

.section li, p{
    margin: 10px;
    padding-left: 20px;
    text-align: left;
    color: #707070;

}

.space{
    height: 70px;
}