<div class="container">
    <div class="heading">
        <h1 class="main-heading">Department of Respiratory Medicine</h1>
        <h3 class="sub-heading">Outpatient Status Reporter</h3>
    </div>
    <button *ngIf="checkCategory(1)" (click)="selectCategory(1)" class="main-btn btn-reg btn5"
        [routerLink]="['/my-ipc']">
        <fa-icon [icon]="['fas', 'edit']" transform="grow-2"></fa-icon>
        <p>My IPC</p>
    </button>
    <button *ngIf="checkCategory(2)" (click)="selectCategory(2)" class="main-btn btn-reg btn6"
        [routerLink]="['/404-error']">
        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        <p>My Asthma</p>
    </button>
    <button *ngIf="checkCategory(3)" (click)="selectCategory(3)" class="main-btn btn-reg btn4"
        [routerLink]="['/404-error']">
        <fa-icon [icon]="['fas', 'edit']"></fa-icon>
        <p>My COPD</p>
    </button>
</div>
<div class="main-wide-buttons">
    <button class="main-btn btn2 btn-wide" [routerLink]="['/settings']">
        <fa-icon [icon]="['fas', 'user-cog']"></fa-icon>
        <p>My Settings</p>
    </button>
    <button class="main-btn btn3 btn-wide" [routerLink]="['/help-info']">
        <fa-icon [icon]="['fas', 'question-circle']" transform="grow-3"></fa-icon>
        <p>Help Info</p>
    </button>
</div>