<div class="middle-space">
    <header>
        <span class="n">Department of Respiratory Medicine</span>
        <span class="s">Outpatient Status Reporter</span>
    </header>

    <div class="main-buttons height-fix">
        <button class="main-btn btn1" [routerLink]="['/patient-resources']"><fa-icon [icon]="['fas', 'photo-video']"></fa-icon><p>Patient Resources</p></button>
        <button class="main-btn btn2"><fa-icon [icon]="['fas', 'user-edit']"></fa-icon><p>Patient Details</p></button>
        <button class="main-btn btn3" [routerLink]="['/survey-nav']"><fa-icon [icon]="['fas', 'edit']" transform="grow-2"></fa-icon><p>Record Status</p></button>
        <button class="main-btn btn4"><fa-icon [icon]="['fas', 'user-cog']"></fa-icon><p>Account Settings</p></button>
        <button class="main-btn btn5"><fa-icon [icon]="['fas', 'align-left']"></fa-icon><p>Patient Surveys</p></button>
        <button class="main-btn btn6"><fa-icon [icon]="['fas', 'phone-square-alt']" transform="grow-5"></fa-icon><p>Contact Us</p></button>
    </div>
</div>