<div class="container">
    <div class="heading">
        <h1 class="main-heading">Department of Respiratory Medicine</h1>
        <h3 class="sub-heading">Outpatient Status Reporter</h3>
    </div>
    <div class="main-buttons">
        <button class="main-btn btn1" [routerLink]="['/patient-resources']">
            <fa-icon [icon]="['fas', 'photo-video']"></fa-icon>
            <p>My Resources</p>
        </button>
        <button class="main-btn btn2" [routerLink]="['/patient-details']">
            <fa-icon [icon]="['fas', 'user-edit']"></fa-icon>
            <p>My Details</p>
        </button>
        <button class="main-btn btn3" [routerLink]="['/patient-details']">
            <fa-icon [icon]="['fas', 'question-circle']" transform="grow-3"></fa-icon>
            <p>Help Info</p>
        </button>
        <button class="main-btn btn4" [routerLink]="['/patient-details']">
            <fa-icon [icon]="['fas', 'phone-square-alt']" transform="grow-5"></fa-icon>
            <p>Contact Us</p>
        </button>
        <button (click)="selectCategory(1)" class="main-btn btn5" [routerLink]="['/survey-nav']">
            <fa-icon [icon]="['fas', 'edit']" transform="grow-2"></fa-icon>
            <p>My IPC</p>
        </button>
        <button (click)="selectCategory(2)" class="main-btn btn6" [routerLink]="['/survey-nav']">
            <fa-icon [icon]="['fas', 'edit']"></fa-icon>
            <p>My Asthma</p>
        </button>
    </div>
</div>