
<div class="welcome-page">
    <img src="assets/img/Mobile_Logo.png" alt="Northern Health Logo">
    <h1>Welcome</h1>
    <p class="description">There has been a build-up of fluid 
        around your lungs. Therefore, it is 
        important for us to know and monitor 
        how you are feeling by using this app 
        to allow us to best optimise your care. 
        The app will be used in hospital and 
        in clinic during follow-up.</p>
    <p class="warning">Data is secured as per Terms and 
        conditions and Privacy message.</p>
    <input type="checkbox" id="terms-and-conditions" [(ngModel)]="this.terms">
    <label for="terms-and-conditions">I agree to the Northern Health <a href="url">Terms and Conditions.</a></label>

    <input type="checkbox" id="privacy-message" [(ngModel)]="this.privacy">
    <label for="privacy-message">I agree to the Northern Health <a href="url">Privacy Message.</a></label>

    <input type="submit" class="submit-button" (click)="submit()" value="Accept">
</div>
