.welcome-page {
    text-align: center;
    padding: 30px;
}

a {
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}

.logo {
    width: 300px;
}

p.description {
    font-weight: bold;
    color: var(--nh-grey);
    font-size: 20px;
}

.main-heading {
    color: var(--nh-blue);
    padding: 35px;
    font-size: 40px;
}

p.warning {
    font-weight: bold;
    color: #D7374B;
    font-size: 18px;
    padding: 1em;
}

.condition {
    display: block;
    margin: 1.5em;
}

.condition label {
    margin-left: 10px;
}

.input#privacy-message, input.submit-button {
    padding: 10px;
}

/* Mobile Landscape/Tablets Screens*/

@media only screen and (min-width: 800px) {
    .logo {
        width: 50%;
    }
    .main-heading {
        padding: 1em;
        font-size: 4em;
    }
    p.description, p.warning {
        max-width: 75%;
        margin: auto;
        font-size: 2em;
    }
    .condition {
        padding: 20px;
    }
    .condition label {
        font-size: 2em;
    }
    .condition input {
        width: 30px;
        height: 30px;
    }
}

/* Laptop/Tablet Screens */

@media only screen and (min-width: 1200px) {
    .logo {
        width: 550px;
    }
    .main-heading {
        font-size: 3.5em;
    }
    p.description, p.warning {
        max-width: 800px;
        font-size: 1em;
    }
    .condition, a {
        font-size: 15px;
    }
    .condition {
        font-size: 0.5em;
        padding: 10px;
    }
    .condition input {
        width: 20px;
        height: 20px;
    }
}