<div class="welcome-page">
    <img src="assets/svg/logo.svg" class="logo" alt="Northern Health Logo">
    <h1 class="main-heading">Welcome</h1>
    <p class="description">There has been a build-up of fluid 
        around your lungs. Therefore, it is 
        important for us to know and monitor 
        how you are feeling by using this app 
        to allow us to best optimise your care. 
        The app will be used in hospital and 
        in clinic during follow-up.</p>
    <p class="warning">Data is secured as per Terms and 
        conditions and Privacy message.</p>

    <div class="condition">
        <input type="checkbox" id="terms-and-conditions" [(ngModel)]="this.terms">
        <label>I agree to the Northern Health <a (click)="openTerms()">Terms and Conditions.</a></label>
    </div>


    <div class="condition">
        <input type="checkbox" id="privacy-message" [(ngModel)]="this.privacy">
        <label>I agree to the Northern Health <a (click)="openPrivacy()">Privacy Statement.</a></label>
    </div>

    <input type="submit" class="submit-button" (click)="submit()" value="Accept">
</div>
