

header {
    margin: 50px 0px 15px;
    padding: 5px;
    font-family: 'Segoe UI';
    font-weight: bold;
    font-size: 35px;
    text-align: center;
}

.n {
    color: #005CB9;
}

.h {
    color: #707070;
}

.middle-space {
    display: flex;
    justify-content: center;
}

