<app-login *ngIf="!this.loggedIn && this.authorised"></app-login>
<app-welcome *ngIf="!this.authorised && !this.loggedIn"></app-welcome>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#005CB9" type="ball-clip-rotate-multiple" [fullScreen]="true">
    <p style="color: white"> Waiting ... </p>
    </ngx-spinner>
 <div *ngIf="this.authorised && this.loggedIn">
    <header>
        <div class="blue-bar top">
            <p *ngIf="!isRoot" (click)="goBack()">
                <fa-icon id="back" [icon]="['fas', 'chevron-left']" transform="grow-5"></fa-icon>Back
            </p>
            <p id="logout" (click)="logout()">
                Logout
            </p>
        </div>

        <div class="nh-logo"></div>
        <!-- Navbar -->
        <nav class="navbar">
            <a id="home" routerLink="home">
                <fa-icon [icon]="['fas', 'home']" transform="grow-15"></fa-icon>
            </a>

            <a id="bars" (click)="dropdown()">
                <i #bars class="fa fa-bars"></i>
                <!-- <fa-icon [icon]="['fas', 'bars']" transform="grow-15"></fa-icon> -->
            </a>

            <div class="dropdown" [ngStyle]=" {'display' : this.toggle ? 'none' : 'block'}">
                <div routerLink="patient-resources">Patient Resources</div>
                <div routerLink="patient-details">Patient Details</div>
                <div routerLink="survey-nav">Record Status</div>
                <div routerLink="patient-details">Help Info</div>
                <div routerLink="patient-details">Patient Surveys</div>
                <div routerLink="patient-details">Contact Us</div>
            </div>
        </nav>

    </header>
    <div class="middle-space">
            <router-outlet></router-outlet>
    </div>
    <div class="space"></div>
    <footer class="blue-bar bottom"></footer>
<!-- </div> -->