<app-welcome *ngIf="!this.authorised"></app-welcome>
<div *ngIf="this.authorised"> 

<div class="blue-bar top"></div>
<div class="blue-bar bottom"></div>


<div class="main-logo">
    <img src="assets/img/Mobile_Logo.png" alt="Northern Health Logo">
</div>

<nav class="navbar">
    <a id="logout">Logout</a>
    <a routerLink="navigation">
        <fa-icon id="home" class="dropdown" [icon]="['fas', 'home']"></fa-icon>
    </a>
    <div class="dropdown">
        <button class="dropbtn">
            <fa-icon id="bars" class="dropdown" [icon]="['fas', 'bars']"></fa-icon>
        </button>
        <div class="dropdown-content">
            <a routerLink="patient-resources">Patient Resources</a>
            <a routerLink="patient-details">Patient Details</a>
            <a routerLink="survey-nav">Record Information</a>
            <a routerLink="patient-details">Account Settings</a>
            <a routerLink="patient-details">Patient Surveys</a>
            <a routerLink="patient-details">Contact Us</a>
        </div>
    </div>
</nav>

<div class="middle-space">
    <router-outlet></router-outlet>    
</div>


</div>