.hads {
    max-width: 90%;

    margin: auto;
}

.question{
    color: var(--nh-blue);
    font-size: 30px;
    font-weight: bold;

    border-bottom: 4px solid var(--nh-blue);

    padding-bottom: 10px;
}

.answer {
    display: flex;
    align-items: center;
    margin: auto;
}

.answer .option {
    font-size: 30px;
    flex: 1 0 70%;
    outline: 1px solid red;
}

.answer input[type="checkbox"] {
    flex: 1 0 30%;
    outline: 1px solid red;    
}
