@import "~nouislider/distribute/nouislider.min.css";
.vas-slider-container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: auto;
}

.error {
    margin: auto;
    color: crimson;
    font-weight: bold;
    text-align: center;
    width: 300px;
    height: 15px;
}

.vas-slider {
    text-align: center;
    margin: 10% auto;
    width: 80%;
}

.noUi-target{
    background-color: #c7c7c7;
}

.noUi-pips {
    margin-top: 5px;
    color: black;
}

.noUi-touch-area{
    background: var(--nh-blue);
    border: 1px solid black;
}

.noUi-marker.noUi-marker-horizontal.noUi-marker-normal{
    background-color: var(--nh-grey);
}

.noUi-marker.noUi-marker-horizontal.noUi-marker-large{
    background-color: var(--nh-grey);
}

.noUi-value.noUi-value-horizontal.noUi-value-large{
    padding: 5px;
    font-size: large;
    font-weight: bold;
}