<h2 mat-dialog-title>How to record ECOG status</h2>
<mat-dialog-content>
    <div class="dialog-style">
        <p>To track how well you are able to take care of yourself, we have developed grades (from 0 to 4) that
        best describe how you feel physically.</p>
        
        <p>Instruction: Click the check-box next to the number that best describes how you feel physically. From 0 -
        fully active - to 4 - completely disabled.</p>
        <label>Click the button below to learn more about ECOG performance status</label>
        <button class="submit-button" onClick="window.open('//ecog-acrin.org/resources/ecog-performance-status/')">Click here</button>
    </div>
</mat-dialog-content>