<div class="container">
    <div class="heading">
        <h1 class="main-heading">My {{categoryTitle}} Surveys</h1>
    </div>

    <div class="main-buttons">
        <button *ngFor="let btn of surveys; let i = index;" class="main-btn btn{{i + 1}}">
            <fa-icon [icon]="['fas', 'align-left']"></fa-icon>
            <p>{{btn}}{{i + 1}}</p>
        </button>
    </div>

    <div class="heading">
        <h1 class="main-heading">My {{categoryTitle}} Measurements</h1>
    </div>

    <div class="main-buttons">
        <button *ngIf="category == 1 || category ==  2" class="main-btn btn1" [routerLink]="['/ecog-status']">
            <fa-icon *ngIf="false" [icon]="['fas', 'running']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="true" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Ecog Status</p>
        </button>
        <button *ngIf="category == 1 || category ==  2" class="main-btn btn2" [routerLink]="['/likert']">
            <fa-icon *ngIf="true" [icon]="['fas', 'smile-beam']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="false" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Likert Scale</p>
        </button>
        <button *ngIf="category == 1" class="main-btn btn3" [routerLink]="['/vas-breath']">
            <fa-icon *ngIf="true" [icon]="['fas', 'lungs']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="false" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Breathlessness</p>
        </button>
        <button *ngIf="category == 1" class="main-btn btn4" [routerLink]="['/vas-pain']">
            <fa-icon *ngIf="true" [icon]="['fas', 'user-injured']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="false" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Level of Pain</p>
        </button>
        <button *ngIf="category == 1 || category ==  2" class="main-btn btn5" [routerLink]="['/fluid-drain']">
            <fa-icon *ngIf="true" [icon]="['fas', 'syringe']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="false" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Fluid Drain</p>
        </button>
        <button *ngIf="category == 1" class="main-btn btn6" [routerLink]="['/qol']">
            <fa-icon *ngIf="true" [icon]="['fas', 'thumbs-up']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="false" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Quality of Life</p>
        </button>
        <button *ngIf="category == 2" class="main-btn btn6" [routerLink]="['/qol']">
            <fa-icon *ngIf="true" [icon]="['fas', 'thumbs-up']" transform="grow-5"></fa-icon>
            <fa-icon *ngIf="false" id="done" [icon]="['fas', 'check-circle']" transform="grow-5"></fa-icon>
            <p>Ventolin</p>
        </button>
    </div>
</div>