/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

label[for="formly_1_radio_score_0"]{
    color: #0459bd;
    font-size: 40px;
    font-weight: bold;

    border-bottom: 4px solid #0459bd;

    padding-bottom: 10px;
}

.custom-control-input{
    width: 10px;
    height: 10px;
}

input[type=radio] {
    appearance: none;
    border: 3px solid #0459bd;
    padding: 10px;
}


input[type=radio]:checked {
    background-color: #0459bd;
}

.custom-radio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    justify-content: space-between;

    margin-top: 20px;

}

.custom-radio  .custom-control-label{

    font-size: 20px;
    font-weight: bold;

    margin: 20px 20px 0px 0px;

}


@media (min-width: 550px) {
    .custom-radio .custom-control-label {
        max-width: auto;
        flex-grow: 1;
    }
}

.btn {
    color: white;
    background-color: #005CB9;
    border-radius: 17px;
}

.submit-btn {
    width: 150px;
    height: 40px;

    font-weight: bold;
    border: none;

    font-size: 20px;
}