/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.middle-space {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-logo{
    margin: 70px 0px 15px;
    padding: 5px;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

header {
    display: grid;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 15px 0px 30px;
}

.n {
    font-size: 22px;
    color: #005CB9;
}

.s {
    font-size: 18px;
    color: #707070;
}

label[for="formly_1_radio_score_0"]{
    color: #0459bd;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 4px solid #0459bd;
    padding-bottom: 10px;
}

.custom-control-input{
    width: 10px;
    height: 10px;
}

input[type=radio] {
    justify-self: center;
    transform: scale(1);
    padding: 15px;
    -webkit-appearance: none;
    outline: 1px solid black;
}

input[type=radio]:checked {
    background-color: #005CB9;
}


.custom-radio {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;

}

.custom-radio  .custom-control-label{
    font-size: 20px;
    font-weight: bold;
    margin: 20px 20px 0px 0px;

}


@media (min-width: 550px) {
    .custom-radio .custom-control-label {
        max-width: auto;
        flex-grow: 1;
    }
}

.btn {
    color: white;
    background-color: #005CB9;
    border-radius: 17px;
}

.submit-btn {
    width: 150px;
    height: 40px;

    font-weight: bold;
    border: none;

    font-size: 20px;
}

.main-btn{
    cursor: pointer;
}

.submit-button{
    cursor: pointer;
    margin-top: 30px;
    margin-bottom: 100px;
    justify-self: center;
    background-color: #005CB9;
    border-radius: 15px;
    width: 150px;
    height: 40px;
    color: whitesmoke;
    font-weight: bold;
    font-size: large;
    outline: none;
}