.agreement-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;   
    max-width: 90%; 
}

.logo-space{
    margin-top: 150px;
    margin-bottom: 50px;
}

.warning{
    margin: auto;
    font-size: large;
    font-weight: 600;
    color: crimson;
    max-width: 480px;
}

.condition{
    margin: auto;
    font-size: large;
    font-weight: 500;
    max-width: 450px;
}

.condition label{
    padding-left: 15px;
}