<div class="heading">
    <h1 class="main-heading">Fluid Drained</h1>
    <h3 class="sub-heading">Enter Amount of Fluid Drained in mL</h3>
</div>

<app-info-bar (click)="infoDialog()"></app-info-bar>

<div class="container">
    <input placeholder="mL" min="10" max="600" maxlength="3" type="number" class="fluid-input" [(ngModel)]="this.fluid"
        oninput="if(this.value < 0) this.value = 0; if(this.value > 600) this.value = 600;">
    <div class="slider-and-ticks">
        <input type="range" id="slider" disabled="disabled" name="fluid-drained" step=".1" min="10" max="600" #slider
            value="{{this.fluid}}">
        <datalist id="steplist">
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
            <option>|</option>
        </datalist>
    </div>
    <p class="lower-lim">10ml</p>
    <p class="upper-lim">600ml</p>
</div>
<div class="submit">
    <app-submit-button name="Submit" (click)="recordFluid()"></app-submit-button>
</div>