<fa-icon [icon]="['fas', 'window-close']" [mat-dialog-close]="true" transform="grow-10" class="dialog-close-btn"></fa-icon>
<br>
<h2 mat-dialog-title>How to perform VAS score</h2>
<mat-dialog-content>
    <div>
        Instruction: To help you to best describe how good or bad you feel on a given day, we have drawn a scale from Best on the top of the slider
        to Worst on the bottom of the slider. Please position the slider at the point that describes
        how you feel today.
    </div>
</mat-dialog-content>