<div class="wrapper">

    <h1 class="main-heading">Part 2: VAS scale</h1>
    <h3 class="sub-heading">We would like to know how good or bad your health is today. Enter in a number between 0 to 100 below, 100 means the best health you can imagine and 0 means the worst health you can imagine.</h3>

    <app-info-bar></app-info-bar>

    <label for="health-score">Your Health Today: </label>
    <input type="number" #score id="health-score" (keyup)="updateSlider(score.value)" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && console.log(event)"/>
    


    <div class="vas-slider"></div> 



    <button type="submit" class="submit-button">Submit</button>

</div>
