<div class="heading">
    <h1 class="main-heading">Part 2: VAS scale</h1>
    <h3 class="sub-heading">We would like to know how good or bad your health is today. </h3>

</div>

<app-info-bar (click)="infoDialog()"></app-info-bar>

<form class="form-container" #vasInputForm="ngForm" (ngSubmit)="recordVASHealth(vasInputForm.form);">

    <h3 class="sub-heading">Enter in a number between 0 to 100 below, 100 means the best health you can imagine and 0 means the worst health you can imagine.</h3>

    <input class="vas-level-input" type="number" placeholder="0" min="0" max="10" maxlength="2" name="vas-input" ngModel
        #vasInputField="ngModel" required>

    <button type="submit" class="submit-button" [disabled]="!vasInputForm.valid"
        [ngClass]="{'disabled-btn': !vasInputForm.valid}">Next</button>

</form>

<!-- <div class="wrapper">

    <h1 class="main-heading">Part 2: VAS scale</h1>
    <h3 class="sub-heading">We would like to know how good or bad your health is today. Enter in a number between 0 to 100 below, 100 means the best health you can imagine and 0 means the worst health you can imagine.</h3>

    <app-info-bar></app-info-bar>

    <label for="health-score">Your Health Today: </label>
    <input type="number" #score id="health-score" (keyup)="updateSlider(score.value)" onkeypress="return event.charCode >= 48 && event.charCode <= 57 && console.log(event)"/>
    

    <p class="alert" *ngIf="!isValid">Please enter in a number between 0 - 100.</p>

    <app-vas-slider (vasValue)="vasValue($event)"></app-vas-slider>



    <button type="submit" class="submit-button" (click)="submitData()">Submit</button>

</div> -->
