<div class="heading">
    <h1 class="main-heading">Patient Resources</h1>
</div>
<div class="container" >

    <div *ngFor="let resource of listOfResources">
        <div class="resource-tile t-1" *ngIf="resource.type == 'phone' ">
            <h3 class="res-title">{{resource.title}}</h3>
            <p class="res-info">
                <fa-icon [icon]="['fas', 'phone']" transform="rotate-130 grow-5"></fa-icon>
                <strong>{{resource.prompt}}</strong>
            </p>
        </div>

        <div class="resource-tile t-2" (click)="showDialog(resource)" *ngIf="resource.type == 'pdf' ">
            <h3 class="res-title">{{resource.title}}</h3>
            <p class="res-info">
                <fa-icon [icon]="['fas', 'info-circle']" transform="grow-5"></fa-icon>
                <strong>{{resource.prompt}}</strong>
            </p>
        </div>
        
        <div class="resource-tile t-3" (click)="showDialog(resource)" *ngIf="resource.type == 'dialog' ">
            <h3 class="res-title">{{resource.title}}</h3>
            <p class="res-info">
                <fa-icon [icon]="['fas', 'info-circle']" transform="grow-5"></fa-icon>
                <strong>{{resource.prompt}}</strong>
            </p>
        </div>
    
        <div  class="resource-tile t-4" *ngIf="resource.type == 'link' ">
            <h3 class="res-title">{{resource.title}}</h3>
            <a class="res-info" href="{{resource.hyperlink}}" target="_blank">
                <p>
                    <fa-icon [icon]="['fas', 'info-circle']" transform="grow-5"></fa-icon>
                    <strong>{{resource.prompt}}</strong>
                </p>
            </a>
        </div>
    </div>
    
</div>
