<fa-icon [icon]="['fas', 'window-close']" transform="grow-10" [mat-dialog-close]="true" class="dialog-close-btn">
</fa-icon>
<h2 mat-dialog-title>How to drain your Indwelling Pleural Catheter</h2>
<mat-dialog-content>
    <p>Below is a video which details how to perform a fluid drainage of an Indwelling Pleural Catheter.</p>
    <div class="video">
        <iframe src="https://player.vimeo.com/video/270685188" frameborder="0" allow="autoplay; fullscreen"
            allowfullscreen></iframe>
    </div>
</mat-dialog-content>