<h2 mat-dialog-title>How to drain your Indwelling Pleural Catheter</h2>
<mat-dialog-content>
    <div class="dialog-style">
        <p>Please enter the amount of fluid you have drained today in millilitres. Enter the value in the box.</p>
        <p>Below is a video which details how to perform a fluid drainage of an Indwelling Pleural Catheter.</p>
        <div class="video">
            <iframe src="https://player.vimeo.com/video/270685188" frameborder="0" allow="autoplay; fullscreen"
                allowfullscreen></iframe>
        </div>
    </div>
</mat-dialog-content>