<div class="heading">
    <h1 class="main-heading">Part 2: VAS scale</h1>
    <h3 class="sub-heading">We would like to know how good or bad your health is today. </h3>

    <h3 *ngIf="partA" class="sub-heading">Enter a Number between 0 to 100 below, 100 means
        the best health you can imagine and 0 means the worst health you can imagine. </h3>

    <h3 *ngIf="!partA" class="sub-heading">Touch the slider between 0 to 100 below, 100 means
        the best health you can imagine and 0 means the worst health you can imagine. </h3>

</div>

<app-info-bar (click)="infoDialog()"></app-info-bar>

<app-vas-input *ngIf="partA" (vasValue)="getVasInputScore($event)"></app-vas-input>

<app-vas-slider *ngIf="!partA" (vasValue)="getVasSliderScore($event)"></app-vas-slider>