<div class="heading">
    <h1 class="main-heading">My Condition Details</h1>
</div>
<div class="details-container">
    <div class="ur-number-container detail-section">
    <h1 class="container-title">UR number: {{conditionDetails.urNumber}}</h1>
    </div>
    <div class="diagnosis-container detail-section">
    <h1 class="container-title">Diagnosis:</h1>
    <p>{{conditionDetails.diagnosis}}</p>
    </div>
    <div class="date-container detail-section">
    <h1 class="container-title">Date of insertion: {{conditionDetails.dateOfOperation | date: "short"}}</h1>
    </div>
    <div class="appointment-container detail-section">
    <h1 class="container-title">Next appointment: {{conditionDetails.nextAppointment | date: "short"}}</h1>
    </div>
    <div class="mydrain detail-section">
        <h1 class="container-title">My drainage </h1>
        </div>
</div>