h1{
    font-size: 35px;
    text-align: center;
}
.container-title{
    font-size: 1em;
    text-align: left;
}
.details-container{
    max-width: 840px;
    margin: auto;
}
.ur-number-container{
    background-color: #D2E8F2;
}
.diagnosis-container{
 background-color: #DAF4C8;
}
.date-container{
    background-color: #F4F8C2;
}
.appointment-container{
    background-color: #F9BFBF;
}
.detail-section{
    padding:15px;
    margin: 20px;
    margin-top: 0px;
    margin-bottom: 10px;
    border: solid 1px var(--nh-grey);
    border-radius: 5px;
}
.mydrain{
    background-color: #ECA451;
}
.mydrain h1{
    text-align: center;
}