<div class="heading">
    <h1 class="main-heading">My IPC Condition Details</h1>
</div>
<div class="details-container">
    <div class="ur-number-container detail-section">
        <h3>UR Number: {{conditionDetails.urNumber}}</h3>
    </div>
    <div class="diagnosis-container detail-section">
        <h3 class="container-title">Diagnosis:</h3>
        <p>{{conditionDetails.diagnosis}}</p>
    </div>
    <div class="date-container detail-section">
        <h3>Date of Insertion: {{conditionDetails.insertionDate | date: "short"}}</h3>
    </div>
    <div class="appointment-container detail-section">
        <h3>Next Appointment: {{conditionDetails.nextAppointment | date: "short"}}</h3>
    </div>
    <div class="drainage detail-section">
        <h3>Last Drainage {{conditionDetails.myDrainage.drainageDate | date: "short"}}</h3>
        <h3>Duration: {{duration}}</h3>
        <div class="drainage-detail">
            <div class="drainage-grid">
                <h4>Fluid Drained:</h4>
                <p>{{conditionDetails.myDrainage.fluidScore}} mL</p>
            </div>
            <div class="drainage-grid">
                <h4>Level of Breathlessness:</h4>
                <p>{{breath}}</p>
            </div>
            <div class="drainage-grid">
                <h4>Level of pain:</h4>
                <p>{{pain}}</p>
            </div>
        </div>
    </div>
</div>