<div class="heading">
    <h1 class="main-heading">Visual Analogue Scale (Breathlessness)</h1>
    <h3 class="sub-heading">Enter Level of Breathlessness</h3>
</div>

<app-info-bar (click)="infoDialog()"></app-info-bar>

<div class="container">
    <p id="good">Enter amount of fluid drained</p>

    <input placeholder="0" min="0" max="10" maxlength="2" type="number" class="vas-level" [(ngModel)]="this.status">
    
</div>
<div class="submit">
    <button class="submit-button disabled-btn" [ngClass]="{'disabled-btn': !this.status}" (click)="recordVASBreath()"
        [disabled]="!this.status">Submit</button>
</div>