.main-heading, .sub-heading{
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
}

.form .submit-btn {
    margin: 2.5em auto;
}

label[for="formly_1_radio_score_0"]{
    color: var(--nh-blue);
    font-size: 40px;
    font-weight: bold;

    border-bottom: 4px solid var(--nh-blue);

    padding-bottom: 10px;
}


@media (min-width: 650px) {
    .form {
        padding: 30px 30px 0px 30px;
    }
}
